name: Java CI

on:
  push:
    branches:
      - 'master'
      - '1.13+'
  pull_request:
    branches:
      - 'master'
      - '1.13+'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Movecraft
      uses: actions/checkout@v1
    - name: Set up JDK 10
      uses: actions/setup-java@v1
      with:
        java-version: 1.10
    - name: Cache Maven packages
      id: cache
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2
        restore-keys: ${{ runner.os }}-m2

# Run Spigot BuildTools for NMS if required
    - name: Setup BuildTools
      run: mkdir BuildTools && wget -O BuildTools/BuildTools.jar https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar

    - name: Check 1.10.2
      id: frostburn
      run: test -f ~/.m2/repository/org/bukkit/craftbukkit/1.10.2-R0.1-SNAPSHOT/craftbukkit-1.10.2-R0.1-SNAPSHOT.jar && echo "::set-output name=sucess::true" || echo "::set-output name=sucess::false"
    - name: Build 1.10.2
      if: steps.frostburn.outputs.sucess != 'true'
      run: cd BuildTools && java -jar BuildTools.jar --rev 1.10.2
    - name: Check 1.11.2
      id: exploration
      run: test -f ~/.m2/repository/org/bukkit/craftbukkit/1.11.2-R0.1-SNAPSHOT/craftbukkit-1.11.2-R0.1-SNAPSHOT.jar && echo "::set-output name=sucess::true" || echo "::set-output name=sucess::false"
    - name: Build 1.11.2
      if: steps.exploration.outputs.sucess != 'true'
      run: cd BuildTools && java -jar BuildTools.jar --rev 1.11.2
    - name: Check 1.12.2
      id: color
      run: test -f ~/.m2/repository/org/bukkit/craftbukkit/1.12.2-R0.1-SNAPSHOT/craftbukkit-1.12.2-R0.1-SNAPSHOT.jar && echo "::set-output name=sucess::true" || echo "::set-output name=sucess::false"
    - name: Build 1.12.2
      if: steps.color.outputs.sucess != 'true'
      run: cd BuildTools && java -jar BuildTools.jar --rev 1.12.2

# EXAMPLE - Copy/paste as required to add version support to CI
#    - name: Test [version]
#      id: [version name]
#      run: test -f ~/.m2/repository/org/bukkit/craftbukkit/[NMS version]/craftbukkit-[NMS version].jar && echo "::set-output name=sucess::true" || echo "::set-output name=sucess::false"
#    - name: [version]
#      if: steps.frostburn.outputs.sucess != 'true'
#      run: cd BuildTools && java -jar BuildTools.jar --rev [version] <if newer than 1.14:  --compile craftbukkit>
#    - run: test -d ~/.m2/repository/org/bukkit/craftbukkit/ && ls ~/.m2/repository/org/bukkit/craftbukkit/

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Stage jar
      run: mkdir staging && cp target/Movecraft.jar staging && mv staging/Movecraft.jar staging/Movecraft_$GITHUB_SHA.jar
    - name: Upload jar
      uses: actions/upload-artifact@v2
      with:
        name: Movecraft_Dev-Build
        path: staging/Movecraft_*.jar
